---
permalink: python/maps/
redirect_from: python/next/maps/
description: Plotly's Python graphing library makes interactive, publication-quality maps online. Examples of how to make maps with Plotly and Mapbox.
name: Maps
layout: langindex
language: python
display_as: maps
thumbnail: thumbnail/mixed.jpg
page_type: example_index
---


<header class="--welcome">
  <div class="--welcome-body">
    <!--div.--wrap-inner-->
    <div class="--title">

      <div class="--body">
        <h1>Plotly Python Open Source Graphing Library Maps</h1>
        <p>{{page.description}}</p><br>
        {% include layouts/page-another-language.html %}
        {% include layouts/dashplug.html %}
      </div>
    </div>
  </div>
</header>

{% assign languagelist = site.posts | where:"language","python" | where:"display_as","maps" | where: "layout","base" | sort: "order" %}
{% include posts/documentation_eg.html %}

<hr>

<div>
  <div>
    <h3 id="choropleth-maps-in-dash">Maps in Dash</h3>
    <p><a href="https://plotly.com/dash/">Dash</a> is the best way to build analytical apps in Python using Plotly figures. To run the app below, run <code>pip install dash</code>, click "Download" to get the code and run <code>python app.py</code>.</p>
    <p>Get started with <a href="https://dash.plotly.com/installation">the official Dash docs</a> and <strong>learn how to effortlessly <a href="https://plotly.com/dash/design-kit/">style</a> &amp; <a href="https://plotly.com/dash/app-manager/">deploy</a> apps like this with <a class="plotly-red" href="https://plotly.com/dash/">Dash Enterprise</a>.</strong></p>
  </div>
</div>

<div>
  <iframe width="100%" height="630" src="https://dash-gallery.plotly.host/python-docs-dash-snippets/choropleth-maps" frameborder="0" allowfullscreen=""></iframe>
</div>
