---
permalink: python/chart-studio/
redirect_from: python/next/chart-studio/
description: Plotly's Python graphing library makes interactive, publication-quality graphs online. Tutorials and tips about fundamental features of Plotly's Python API.
name: Chart Studio Docs
layout: langindex
language: python
display_as: chart_studio
thumbnail: thumbnail/mixed.jpg
page_type: example_index
---


<header class="--welcome">
  <div class="--welcome-body">
    <!--div.--wrap-inner-->
    <div class="--title">

      <div class="--body">
        <h1>Plotly Python Chart Studio Integration1</h1>
        <p>{{page.description}}</p>
        {% include layouts/page-another-language.html %}
      </div>
    </div>
  </div>
</header>

{% assign languagelist = site.posts | where:"language","python" |where:"display_as","chart_studio" | where: "layout","base" | sort: "order" %}
{% include posts/documentation_eg.html %}
