---
permalink: /python/reference/layout/
layout: langindex
page_type: reference
language: python
name: Figure Reference layout
description: The complete reference of Plotly chart attributes for Plotly's Python library.
---

<h2>Python Figure Reference: `layout`</h2>



<div class="row">
  <div class="eight columns">

          <a id="layout" href="#layout"><h4>layout</h4></a>

          {% assign attribute=site.data.plotschema.layout.layoutAttributes %}
          {% include posts/reference-block.html parentlink="layout" block="layout" parentpath="layout" mustmatch="global" %}

          {% assign attribute=site.data.plotschema.traces.box.layoutAttributes %}
          {% include posts/reference-block.html parentlink="layout" block="layout" parentpath="layout" %}

          {% assign attribute=site.data.plotschema.traces.bar.layoutAttributes %}
          {% include posts/reference-block.html parentlink="layout" block="layout" parentpath="layout" %}

          {% assign attribute=site.data.plotschema.traces.violin.layoutAttributes %}
          {% include posts/reference-block.html parentlink="layout" block="layout" parentpath="layout" %}

          {% assign attribute=site.data.plotschema.traces.waterfall.layoutAttributes %}
          {% include posts/reference-block.html parentlink="layout" block="layout" parentpath="layout" %}

          {% assign attribute=site.data.plotschema.traces.pie.layoutAttributes %}
          {% include posts/reference-block.html parentlink="layout" block="layout" parentpath="layout" %}

          {% assign attribute=site.data.plotschema.traces.sunburst.layoutAttributes %}
          {% include posts/reference-block.html parentlink="layout" block="layout" parentpath="layout" %}
  </div>
</div>
