---
permalink: matlab/3d-charts/
description: Plotly's MATLAB<sup>&reg;</sup> graphing library makes interactive, publication-quality graphs online. Examples of how to make 3D charts.
name: 3D Charts
layout: langindex
language: matlab
display_as: 3d_charts
thumbnail: thumbnail/mixed.jpg
---

<header class="--welcome">
  <div class="--welcome-body">
    <!--div.--wrap-inner-->
    <div class="--title">

      <div class="--body">
        <h1>Plotly MATLAB<sup>&reg;</sup> Open Source Graphing Library 3D Charts</h1>
        <p>{{page.description}}</p><br>
        {% include layouts/page-another-language.html %}
        {% include layouts/dashplug.html %}
      </div>
    </div>
  </div>
</header>

{% assign languagelist = site.posts | where:"language","matlab" | where:"display_as","3d_charts" | where: "layout","base" | sort: "order" %}
{% include posts/documentation_eg.html %}

<p style="margin-top:200px">
  <em>MATLAB<sup>&reg;</sup> is a registered trademark of The MathWorks, Inc.</em>
</p>
