version: 2
jobs:
  build:
    branches:
      ignore:
        - gh-pages

    docker:
      # a packaged system that has the instructions for creating a running container.
      - image: circleci/ruby:2.3.3

    # actions that need to be taken to perform your job
    steps:
      - add_ssh_keys:
          fingerprints:
            - "dc:5f:39:48:00:b4:72:34:e1:d2:c4:e1:1f:d1:e2:ce" #plotlydocbot

      - restore_cache:
          keys:
            - source-v1- #one time, not every time!

      # checks out the source code for a job over SSH
      - checkout

      - save_cache:
          key: source-v1-1 # Sept 7, 2019
          paths:
            - ".git"

      - restore_cache:
          keys:
            - gem-cache-v1-{{ arch }}-{{ .Branch }}-{{ checksum "Gemfile.lock" }}
            - gem-cache-v1-{{ arch }}-{{ .Branch }}
            - gem-cache-v1

      - run:
          name: install dependencies
          command: |
            bundle install --path vendor/bundle
            sudo rm /etc/apt/sources.list
            echo "deb http://archive.debian.org/debian/ jessie main contrib non-free" | sudo tee -a /etc/apt/sources.list
            echo "deb-src http://archive.debian.org/debian jessie main contrib non-free" | sudo tee -a /etc/apt/sources.list
            echo "Acquire::Check-Valid-Until false;" | sudo tee -a /etc/apt/apt.conf.d/10-nocheckvalid
            echo '# Package: *\nPin: origin "archive.debian.org"\nPin-Priority: 500' | sudo tee -a /etc/apt/preferences.d/10-archive-pin
            sudo apt-get update
            sudo apt install python-pip
            sudo pip install PyYAML==5.4.1
            sudo pip install python-frontmatter==0.5.0
            sudo pip install pathlib

      - save_cache:
          key: gem-cache-v1-{{ arch }}-{{ .Branch }}-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle

      - run:
          name: deployment
          command: |
            set -x
            git config --global user.email "accounts@plot.ly"
            git config --global user.name "plotlydocbot"
            echo
            echo "token: ${mapbox_token}" > _data/mapbox_token.yml
            make fetch_upstream_files
            python front-matter-ci.py _posts
            python check-or-enforce-order.py _posts/python
            python check-or-enforce-order.py _posts/python-v3
            python check-or-enforce-order.py _posts/r/
            python check-or-enforce-order.py _posts/matlab
            python check-or-enforce-order.py _posts/plotly_js
            echo `md5 -q all_static/css/main.css` > _data/cache_bust_css.yml
            bundle exec jekyll build
            rm _data/mapbox_token.yml
            mkdir snapshots
            cd _site
            cp -r 'all_static' '../snapshots'
            cp 'api/index.html' '../snapshots'
            cp --parents 'python/index.html' '../snapshots'
            cp --parents 'python/getting-started/index.html' '../snapshots'
            cp --parents 'python/plotly-fundamentals/index.html' '../snapshots'
            cp --parents 'python/line-and-scatter/index.html' '../snapshots'
            cp --parents 'r/index.html' '../snapshots'
            cp --parents 'r/getting-started/index.html' '../snapshots'
            cp --parents 'r/plotly-fundamentals/index.html' '../snapshots'
            cp --parents 'r/line-and-scatter/index.html' '../snapshots'
            cp --parents 'javascript/index.html' '../snapshots'
            cp --parents 'javascript/plotly-fundamentals/index.html' '../snapshots'
            cp --parents 'javascript/getting-started/index.html' '../snapshots'
            cp --parents 'javascript/line-and-scatter/index.html' '../snapshots'
            cp --parents 'ggplot2/index.html' '../snapshots'
            cp --parents 'ggplot2/getting-started/index.html' '../snapshots'
            cp --parents 'ggplot2/histograms/index.html' '../snapshots'
            cp --parents 'matlab/index.html' '../snapshots'
            cp --parents 'matlab/getting-started/index.html' '../snapshots'
            cp --parents 'matlab/graphing-multiple-chart-types/index.html' '../snapshots'
            cp --parents 'matlab/histograms/index.html' '../snapshots'
            cp --parents 'csharp/index.html' '../snapshots'
            cp --parents 'csharp/getting-started/index.html' '../snapshots'
            cd ..
            rm -f 'snapshots/all_static/javascripts/jquery-knob/index.html'
            rm -f 'snapshots/all_static/images/Plotly-feed2.html'
            rm -f 'snapshots/all_static/images/Plotly.html'
            rm -f 'snapshots/all_static/images/Plotly-Feed.html'
            rm -f snapshots/*.bkp
            rm -f snapshots/*/*.bkp
            rm -f snapshots/*/*/*.bkp
            percy snapshot snapshots --enable_javascript --debug
            rm -rf 'snapshots/'
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              git clone --depth=1 --branch=gh-pages https://github.com/plotly/documentation.git
              git config user.name plotlydocbot
              git config user.email accounts@plot.ly
              cp -r _site/* documentation
              cd documentation
              git add .
              git commit -m "deploying https://github.com/plotly/graphing-library-docs/commit/${CIRCLE_SHA1}"
              git push
              cd ..
              rm -rf documentation
            fi
