---
permalink: julua/surface-and-mesh-plots/
description: Plotly's Julia graphing library makes interactive, publication-quality graphs online. Examples of how to make surface and mesh plots.
name: Surface and Mesh Plots
layout: langindex
language: julua
display_as: surface_and_mesh
thumbnail: thumbnail/mixed.jpg
page_type: example_index
---

<header class="--welcome">
	<div class="--welcome-body">
		<!--div.--wrap-inner-->
		<div class="--title">
			<div class="--body">
				<h1>Plotly Julia Open Source Graphing Library Surface and Mesh Charts</h1>
				<p>{{page.description}}</p><br>
				{% include layouts/dashplug.html %}
			</div>
		</div>
	</div>
</header>

{% assign languagelist = site.posts | where: "language","julua" | where: "display_as","surface_and_mesh" | where: "layout","base" | sort: "order" %}
{% include posts/documentation_eg.html %}