---
permalink: julia/chart-studio/
description: Plotly's Julia graphing library makes interactive, publication-quality graphs online. Tutorials and tips about fundamental features of Plotly's Python API.
name: Chart Studio Docs
layout: langindex
language: julia
display_as: chart_studio
thumbnail: thumbnail/mixed.jpg
page_type: example_index
---

<header class="--welcome">
  <div class="--welcome-body">
    <!--div.--wrap-inner-->
    <div class="--title">

      <div class="--body">
        <h1>Plotly Julia Chart Studio Integration</h1>
        <p>{{page.description}}</p><br>
        {% include layouts/page-another-language.html %}
      </div>
    </div>
  </div>
</header>

{% assign languagelist = site.posts | where:"language","julia" |where:"display_as","chart_studio" | where: "layout","base" | sort: "order" %}
{% include posts/documentation_eg.html %}
