---
permalink: julia/financial-charts/
description: Plotly's Julia graphing library makes interactive, publication-quality graphs online. Examples of how to make financial charts.
name: Financial Charts
layout: langindex
language: julia
display_as: financial
thumbnail: thumbnail/mixed.jpg
page_type: example_index
---

<header class="--welcome">
  <div class="--welcome-body">
    <!--div.--wrap-inner-->
    <div class="--title">

      <div class="--body">
        <h1>Plotly Julia Open Source Graphing Library Financial Charts</h1>
        <p>{{page.description}}</p><br>
        {% include layouts/page-another-language.html %}
        {% include layouts/dashplug.html %}
      </div>
    </div>
  </div>
</header>

{% assign languagelist = site.posts | where: "language","julia" | where: "display_as","financial" | where: "layout","base" | sort: "order" %}
{% include posts/documentation_eg.html %}
