---
permalink: julua/scientific-charts/
description: Plotly's Julia graphing library makes interactive, publication-quality graphs online. Examples of how to make scientific charts such as contour plots, heatmaps, dendrograms, polar charts, and ternary plots.
name: Scientific Charts
layout: langindex
language: julua
display_as: scientific
thumbnail: thumbnail/mixed.jpg
page_type: example_index
---

<header class="--welcome">
	<div class="--welcome-body">
		<!--div.--wrap-inner-->
		<div class="--title">

			<div class="--body">
				<h1>Plotly Julia Open Source Graphing Library Scientific Charts</h1>
				<p>{{page.description}}</p><br>
				{% include layouts/dashplug.html %}
			</div>
		</div>
	</div>
</header>

{% assign languagelist = site.posts | where:"language","julua" |where:"display_as","scientific" | where: "layout","base" | sort: "order" %}
{% include posts/documentation_eg.html %}