---
permalink: ggplot2/3d-charts/
description: Plotly's ggplot2 graphing library makes interactive, publication-quality graphs online. Examples of how to make 3D charts.
name: 3D Charts
layout: langindex
language: ggplot2
display_as: 3d_charts
thumbnail: thumbnail/mixed.jpg
---

<header class="--welcome">
	<div class="--welcome-body">
		<!--div.--wrap-inner-->
		<div class="--title">

			<div class="--body">
				<h1>Plotly ggplot2 Open Source Graphing Library 3D Charts</h1>
				<p>{{page.description}}</p><br>
				{% include layouts/dashplug.html %}
			</div>
		</div>
	</div>
</header>

{% assign languagelist = site.posts | where:"language","ggplot2" | where:"display_as","3d_charts" | where: "layout","base" | sort: "order" %}
{% include posts/documentation_eg.html %}