{% assign language = page.language %}

{% if page.language == "plotly_js" %}
    {% assign language = "javascript" %}
{% endif %}

{% assign num_examples = 5 %}

{% comment %}First, check which sections this page should contain checking all of the posts{% endcomment %}
{%- for page in languagelist -%}
    {% if page.layout != "langindex" %}
        {% if page.display_as == "file_settings" %}
            {% assign file_settings = true %}
        {% elsif page.display_as == "chart_type" or page.display_as == "basic" %}
            {% assign chart_type = true %}
        {% elsif page.display_as == "statistical" %}
            {% assign statistical = true %}
        {% elsif page.display_as == "scientific" %}
            {% assign scientific = true %}
        {% elsif page.display_as == "advanced_charts" %}
            {% assign advanced_charts = true %}
        {% elsif page.display_as == "maps" %}
            {% assign maps = true %}
        {% elsif page.display_as == "financial" %}
            {% assign financial = true %}
        {% elsif page.display_as == "3d_charts" %}
            {% assign 3d_charts = true %}
        {% elsif page.display_as == "multiple_axes" %}
            {% assign multiple_axes = true %}
        {% elsif page.display_as == "controls" %}
            {% assign controls = true %}
        {% elsif page.display_as == "animations" %}
            {% assign animations = true %}
        {% elsif page.display_as == "chart_events" %}
            {% assign chart_events = true %}
        {% elsif page.display_as == "advanced_opt" %}
            {% assign advanced_opt = true %}
        {% elsif page.display_as == "ai_ml" %}
            {% assign ai_ml = true %}
        {% elsif page.display_as == "bio" %}
            {% assign bio = true %}
        {% endif %}
    {% endif %}
{%- endfor -%}

{% comment %} these are the pages that don't have images to show {% endcomment %}
{%- for page in languagelist -%}
    {% if page.display_as == "layout_opt" %}
        {% assign layout_options = true %}
    {% elsif page.display_as == "style_opt" %}
        {% assign style_options = true %}
    {% endif %}
{%- endfor -%}

{% include both/py4_note.html %}


{% if file_settings %}
<section class="--tutorial-section">
    <header class="--section-header">
        <span name="fundamentals" id="fundamentals">Fundamentals</span>

        {% assign forloop_idx = 0 %}
        {%- for page in languagelist -%}
            {% if page.display_as == "file_settings" and page.layout != "langindex" %}
                {% assign forloop_idx = forloop_idx | plus:1 %}
            {% endif %}
        {%- endfor -%}

        {% if forloop_idx >= num_examples %}
        <a href="/{{language}}/plotly-fundamentals" class="langindexlink">More Fundamentals &raquo;</a>
        {% endif %}
    </header>
    {% if language == "python" %}
    <p class="--section-description">Explore step-by-step tutorials and code examples for figure structures, updating figures, displaying figures, and framework integrations to master our Python graphing library.</p>
    {% endif %}
    <section class="--grid">
        <ul class="--grid-list">

            {% assign forloop_idx = 0 %}

            {%- for page in languagelist -%}
                {% if page.display_as == "file_settings" and page.layout != "langindex" and forloop_idx < num_examples  %}
                    {% assign forloop_idx = forloop_idx | plus:1 %}
                    {% include layouts/grid-item.html %}
                {% endif %}
            {%- endfor -%}

        </ul>
    </section>
</section>
{% endif %}






{% if chart_type %}
<section class="--tutorial-section">
    <header class="--section-header">
        <span id="basic-charts">Basic Charts</span>

        {% assign forloop_idx = 0 %}
        {%- for page in languagelist -%}
            {% if page.display_as == "chart_type" or page.display_as == "basic" and page.layout != "langindex" %}
                {% assign forloop_idx = forloop_idx | plus:1 %}
            {% endif %}
        {%- endfor -%}

        {% if forloop_idx >= num_examples %}
        <a href="/{{language}}/basic-charts/" class="langindexlink">More Basic Charts &raquo;</a>
        {% endif %}
    </header>
    {% if language == "python" %}
    <p class="--section-description">Find copy-pasteable code snippets and interactive demos to create standard Python charts, including scatter plots, line graphs, bar charts, pie charts, and bubble charts.</p>
    {% endif %}
    <section class="--grid">
        <ul class="--grid-list">

            {% assign forloop_idx = 0 %}

            {%- for page in languagelist -%}

                {% assign category_elligible = false %}

                {% if page.display_as == "chart_type" or page.display_as == "basic"  %}
                    {% assign category_elligible = true %}
                {% endif %}

                {% if category_elligible and page.layout != "langindex" and forloop_idx < num_examples  %}
                    {% assign forloop_idx = forloop_idx | plus:1 %}
                    {% include layouts/grid-item.html %}
                {% endif %}
            {%- endfor -%}
        </ul>
    </section>
</section>
{% endif %}

{% if statistical %}
<section class="--tutorial-section">
    <header class="--section-header">
        <span id="statistical-charts">Statistical Charts</span>

        {% assign forloop_idx = 0 %}
        {%- for page in languagelist -%}
            {% if page.display_as == "statistical" and page.layout != "langindex" %}
                {% assign forloop_idx = forloop_idx | plus:1 %}
            {% endif %}
        {%- endfor -%}

        {% if forloop_idx >= num_examples %}
        <a href="/{{language}}/statistical-charts/" class="langindexlink">More Statistical Charts &raquo;</a>
        {% endif %}
    </header>
    {% if language == "python" %}
    <p class="--section-description">Browse code tutorials and live previews for complex data analysis, featuring box plots, histograms, error bars, and 2D density plots.</p>
    {% endif %}
    <section class="--grid">
        <ul class="--grid-list">

            {% assign forloop_idx = 0 %}

            {%- for page in languagelist -%}
                {% if page.display_as == "statistical" and page.layout != "langindex" and forloop_idx < num_examples  %}
                    {% assign forloop_idx = forloop_idx | plus:1 %}
                    {% include layouts/grid-item.html %}
                {% endif %}
            {%- endfor -%}

        </ul>
    </section>
</section>
{% endif %}

{% if scientific %}
<section class="--tutorial-section" id="scientific-charts">
    <header class="--section-header">
        <span>Scientific Charts</span>

        {% assign forloop_idx = 0 %}
        {%- for page in languagelist -%}
            {% if page.display_as == "scientific" and page.layout != "langindex" %}
                {% assign forloop_idx = forloop_idx | plus:1 %}
            {% endif %}
        {%- endfor -%}

        {% if forloop_idx >= num_examples %}
        <a href="/{{language}}/scientific-charts/" class="langindexlink">More Scientific Charts &raquo;</a>
        {% endif %}
    </header>
    {% if language == "python" %}
    <p class="--section-description">Access interactive examples and code snippets for domain-specific visualizations. Build heatmaps, contour plots, ternary plots, and log plots.</p>
    {% endif %}
    <section class="--grid">
        <ul class="--grid-list">

            {% assign forloop_idx = 0 %}

            {%- for page in languagelist -%}
                {% if page.display_as == "scientific" and page.layout != "langindex" and forloop_idx < num_examples  %}
                    {% assign forloop_idx = forloop_idx | plus:1 %}
                    {% include layouts/grid-item.html %}
                {% endif %}
            {%- endfor -%}

        </ul>
    </section>
</section>
{% endif %}

{% if financial %}
<section class="--tutorial-section" id="financial-charts">
    <header class="--section-header">
        <span>Financial Charts</span>

        {% assign forloop_idx = 0 %}
        {%- for page in languagelist -%}
            {% if page.display_as == "financial" and page.layout != "langindex" %}
                {% assign forloop_idx = forloop_idx | plus:1 %}
            {% endif %}
        {%- endfor -%}

        {% if forloop_idx >= num_examples %}
        <a href="/{{language}}/financial-charts/" class="langindexlink">More Financial Charts &raquo;</a>
        {% endif %}
    </header>
    {% if language == "python" %}
    <p class="--section-description">Explore code guides and live examples for financial data, including candlestick charts, OHLC plots, waterfall diagrams, funnel charts, and time series lines to create interactive graphs in Python.</p>
    {% endif %}
    <section class="--grid">
        <ul class="--grid-list">

            {% assign forloop_idx = 0 %}

            {%- for page in languagelist -%}
                {% if page.display_as == "financial" and page.layout != "langindex" and forloop_idx < num_examples  %}
                    {% assign forloop_idx = forloop_idx | plus:1 %}
                    {% include layouts/grid-item.html %}
                {% endif %}
            {%- endfor -%}

        </ul>
    </section>
</section>
{% endif %}

{% if maps %}
<section class="--tutorial-section" id="maps">
    <header class="--section-header">
        <span>Maps</span>

        {% assign forloop_idx = 0 %}
        {%- for page in languagelist -%}
            {% if page.display_as == "maps" and page.layout != "langindex" %}
                {% assign forloop_idx = forloop_idx | plus:1 %}
            {% endif %}
        {%- endfor -%}

        {% if forloop_idx >= num_examples %}
        <a href="/{{language}}/maps/" class="langindexlink">More Maps &raquo;</a>
        {% endif %}
    </header>
    {% if language == "python" %}
    <p class="--section-description">Learn how to build interactive geographic visualizations with step-by-step code snippets for Mapbox integration, tile choropleth maps, lines on maps, and bubble maps.</p>
    {% endif %}
    <section class="--grid">
        <ul class="--grid-list">

            {% assign forloop_idx = 0 %}

            {%- for page in languagelist -%}
                {% if page.display_as == "maps" and page.layout != "langindex" and forloop_idx < num_examples  %}
                    {% assign forloop_idx = forloop_idx | plus:1 %}
                    {% include layouts/grid-item.html %}
                {% endif %}
            {%- endfor -%}

        </ul>
    </section>
</section>
{% endif %}

{% if ai_ml %}
<section class="--tutorial-section">
    <header class="--section-header">
        <span name="ai_ml" id="ai_ml">Artificial Intelligence and Machine Learning</span>

        {% assign forloop_idx = 0 %}
        {%- for page in languagelist -%}
            {% if page.display_as == "ai_ml" and page.layout != "langindex" %}
                {% assign forloop_idx = forloop_idx | plus:1 %}
            {% endif %}
        {%- endfor -%}

        {% if forloop_idx >= num_examples %}
        <a href="/{{language}}/ai-ml/" class="langindexlink">More AI and ML &raquo;</a>
        {% endif %}
    </header>
    {% if language == "python" %}
    <p class="--section-description">Visualize machine learning models with tutorials for ML regression, kNN classification, ROC and PR curves, and PCA visualization.</p>
    {% endif %}
    <section class="--grid">
        <ul class="--grid-list">

            {% assign forloop_idx = 0 %}

            {%- for page in languagelist -%}
                {% if page.display_as == "ai_ml" and page.layout != "langindex" and forloop_idx < num_examples  %}
                    {% assign forloop_idx = forloop_idx | plus:1 %}
                    {% include layouts/grid-item.html %}
                {% endif %}
            {%- endfor -%}

        </ul>
    </section>
</section>
{% endif %}



{% if bio %}
<section class="--tutorial-section">
    <header class="--section-header"><span name="bio" id="bio">Bioinformatics</span>
        <a href="/{{language}}/bio/" class="langindexlink">More Bioinformatics &raquo;</a>
    </header>
    {% if language == "python" %}
    <p class="--section-description">Access specialized charts for computational biology, including volcano plots, Manhattan plots, clustergrams, and alignment charts.</p>
    {% endif %}
    <section class="--grid">
        <ul class="--grid-list">
            {%- for page in languagelist -%}
            {% if page.display_as == "bio" and page.order < num_examples %}


            {% include layouts/grid-item.html %}
            {% endif %}
            {%- endfor -%}
        </ul>
        <a href="/{{language}}/bio/" class="langindexlink-mobile">More Bioinformatics &raquo;</a>
    </section>
</section>
{% endif %}
{% if 3d_charts %}
<section class="--tutorial-section" id="3d-charts">
    <header class="--section-header">
        <span>3D Charts</span>

        {% assign forloop_idx = 0 %}
        {%- for page in languagelist -%}
            {% if page.display_as == "3d_charts" and page.layout != "langindex" %}
                {% assign forloop_idx = forloop_idx | plus:1 %}
            {% endif %}
        {%- endfor -%}

        {% if forloop_idx >= num_examples %}
        <a href="/{{language}}/3d-charts/" class="langindexlink">More 3D Charts &raquo;</a>
        {% endif %}
    </header>
    {% if language == "python" %}
    <p class="--section-description">View high-performance code examples for 3D axes, 3D scatter plots, 3D surface plots, and 3D subplots to enhance your Python graphs.</p>
    {% endif %}
    <section class="--grid">
        <ul class="--grid-list">

            {% assign forloop_idx = 0 %}

            {%- for page in languagelist -%}
                {% if page.display_as == "3d_charts" and page.layout != "langindex" and forloop_idx < num_examples  %}
                    {% assign forloop_idx = forloop_idx | plus:1 %}
                    {% include layouts/grid-item.html %}
                {% endif %}
            {%- endfor -%}

        </ul>
    </section>
</section>
{% endif %}

{% if multiple_axes %}
<section class="--tutorial-section" id="multiple-axes-subplots-and-insets">
    <header class="--section-header">
        <span name="subplot-charts" id="subplot-charts">Subplots</span>

        {% assign forloop_idx = 0 %}
        {%- for page in languagelist -%}
            {% if page.display_as == "multiple_axes" and page.layout != "langindex" %}
                {% assign forloop_idx = forloop_idx | plus:1 %}
            {% endif %}
        {%- endfor -%}

        {% if forloop_idx >= num_examples %}
        <a href="/{{language}}/subplot-charts/" class="langindexlink">More Subplots &raquo;</a>
        {% endif %}
    </header>
    {% if language == "python" %}
    <p class="--section-description">Find layout tutorials and code examples for combining multi-chart arrangements, map subplots, table subplots, and mixed layouts when plotting graphs in Python.</p>
    {% endif %}
    <section class="--grid">
        <ul class="--grid-list">

            {% assign forloop_idx = 0 %}

            {%- for page in languagelist -%}
                {% if page.display_as == "multiple_axes" and page.layout != "langindex" and forloop_idx < num_examples  %}
                    {% assign forloop_idx = forloop_idx | plus:1 %}
                    {% include layouts/grid-item.html %}
                {% endif %}
            {%- endfor -%}

        </ul>
    </section>
</section>
{% endif %}

{% if chart_events and page.language =="python" %}
<section class="--tutorial-section" id="chart-events">
    <header class="--section-header">
        <span id="jupyter-widgets">Jupyter Widgets Interaction</span>

        {% assign forloop_idx = 0 %}
        {%- for page in languagelist -%}
            {% if page.display_as == "chart_events" and page.layout != "langindex" %}
                {% assign forloop_idx = forloop_idx | plus:1 %}
            {% endif %}
        {%- endfor -%}

        {% if forloop_idx >= num_examples %}
        <a href="/{{language}}/chart-events/" class="langindexlink">More Chart Events &raquo;</a>
        {% endif %}
    </header>
    {% if language == "python" %}
    <p class="--section-description">Learn how to connect your Python graph to interactive Jupyter environments using FigureWidget tutorials, interactive data analysis, and custom click events.</p>
    {% endif %}
    <section class="--grid">
        <ul class="--grid-list">

            {% assign forloop_idx = 0 %}

            {%- for page in languagelist -%}
                {% if page.display_as == "chart_events" and page.layout != "langindex" and forloop_idx < num_examples  %}
                    {% assign forloop_idx = forloop_idx | plus:1 %}
                    {% include layouts/grid-item.html %}
                {% endif %}
            {%- endfor -%}

        </ul>
    </section>
</section>
{% endif %}

{% if chart_events and page.language =="r" %}
<section class="--tutorial-section" id="custom-interaction">
    <header class="--section-header">
        <span>Custom Interaction With JavaScript</span>

        {% assign forloop_idx = 0 %}
        {%- for page in languagelist -%}
            {% if page.display_as == "chart_events" and page.layout != "langindex" %}
                {% assign forloop_idx = forloop_idx | plus:1 %}
            {% endif %}
        {%- endfor -%}

        {% if forloop_idx >= num_examples %}
        <a href="/{{language}}/chart-events/" class="langindexlink">More Chart Events &raquo;</a>
        {% endif %}
    </header>
    <section class="--grid">
        <ul class="--grid-list">

            {% assign forloop_idx = 0 %}

            {%- for page in languagelist -%}
                {% if page.display_as == "chart_events" and page.layout != "langindex" and forloop_idx < num_examples  %}
                    {% assign forloop_idx = forloop_idx | plus:1 %}
                    {% include layouts/grid-item.html %}
                {% endif %}
            {%- endfor -%}

        </ul>
    </section>
</section>
{% endif %}

{% if chart_events and page.language == 'plotly_js' %}
<section class="--tutorial-section" id="custom-chart-events">
    <header class="--section-header">
        <span>Custom Chart Events</span>

        {% assign forloop_idx = 0 %}
        {%- for page in languagelist -%}
            {% if page.display_as == "chart_events" and page.layout != "langindex" %}
                {% assign forloop_idx = forloop_idx | plus:1 %}
            {% endif %}
        {%- endfor -%}

        {% if forloop_idx >= num_examples %}
        <a href="/{{language}}/chart-events/" class="langindexlink">More Chart Events &raquo;</a>
        {% endif %}
    </header>
    <section class="--grid">
        <ul class="--grid-list">

            {% assign forloop_idx = 0 %}

            {%- for page in languagelist -%}
                {% if page.display_as == "chart_events" and page.layout != "langindex" and forloop_idx < num_examples  %}
                    {% assign forloop_idx = forloop_idx | plus:1 %}
                    {% include layouts/grid-item.html %}
                {% endif %}
            {%- endfor -%}

        </ul>
    </section>
</section>
{% endif %}

{% if controls %}
<section class="--tutorial-section" id="controls">
    <header class="--section-header">
        <span>Add Custom Controls</span>

        {% assign forloop_idx = 0 %}
        {%- for page in languagelist -%}
            {% if page.display_as == "controls" and page.layout != "langindex" %}
                {% assign forloop_idx = forloop_idx | plus:1 %}
            {% endif %}
        {%- endfor -%}

        {% if forloop_idx >= num_examples %}
        <a href="/{{language}}/controls/" class="langindexlink">More Controls &raquo;</a>
        {% endif %}
    </header>
    {% if language == "python" %}
    <p class="--section-description">Discover code snippets and tutorials for building interactive UI controls directly into your visualizations, including dropdown menus, custom buttons, sliders, and range selectors to upgrade your graph in Python.</p>
    {% endif %}
    <section class="--grid">
        <ul class="--grid-list">

            {% assign forloop_idx = 0 %}

            {%- for page in languagelist -%}
                {% if page.display_as == "controls" and page.layout != "langindex" and forloop_idx < num_examples  %}
                    {% assign forloop_idx = forloop_idx | plus:1 %}
                    {% include layouts/grid-item.html %}
                {% endif %}
            {%- endfor -%}

        </ul>
    </section>
</section>
{% endif %}

{% if animations %}
<section class="--tutorial-section" id="animations">
    <header class="--section-header">
        <span>Animations</span>

        {% assign forloop_idx = 0 %}
        {%- for page in languagelist -%}
            {% if page.display_as == "animations" and page.layout != "langindex" %}
                {% assign forloop_idx = forloop_idx | plus:1 %}
            {% endif %}
        {%- endfor -%}

        {% if forloop_idx >= num_examples %}
        <a href="/{{language}}/animations/" class="langindexlink">More Animations &raquo;</a>
        {% endif %}
    </header>
    {% if language == "python" %}
    <p class="--section-description">Explore code tutorials and interactive demos for animating data points, building time-series sliders, and creating smooth transitions to build a dynamic Python graph.</p>
    {% endif %}
    <section class="--grid">
        <ul class="--grid-list">

            {% assign forloop_idx = 0 %}

            {%- for page in languagelist -%}
                {% if page.display_as == "animations" and page.layout != "langindex" and forloop_idx < num_examples  %}
                    {% assign forloop_idx = forloop_idx | plus:1 %}
                    {% include layouts/grid-item.html %}
                {% endif %}
            {%- endfor -%}

        </ul>
    </section>
</section>
{% endif %}

{% if financial_analysis %}
<section class="--tutorial-section" id="financial-analysis">
    <header class="--section-header">
        <span>Financial Analysis</span>

        {% assign forloop_idx = 0 %}
        {%- for page in languagelist -%}
            {% if page.display_as == "financial_analysis" and page.layout != "langindex" %}
                {% assign forloop_idx = forloop_idx | plus:1 %}
            {% endif %}
        {%- endfor -%}

        {% if forloop_idx >= num_examples %}
        <a href="/{{language}}/financial-analysis/" class="langindexlink">More Financial Analysis &raquo;</a>
        {% endif %}
    </header>
    <section class="--grid">
        <ul class="--grid-list">

            {% assign forloop_idx = 0 %}

            {%- for page in languagelist -%}
                {% if page.display_as == "financial_analysis" and page.layout != "langindex" and forloop_idx < num_examples  %}
                    {% assign forloop_idx = forloop_idx | plus:1 %}
                    {% include layouts/grid-item.html %}
                {% endif %}
            {%- endfor -%}

        </ul>
    </section>
</section>
{% endif %}

{% if advanced_opt %}
<section class="--tutorial-section no-image" id="advanced-options">
    <header class="--section-header">
        <span>Advanced</span>
    </header>
    {% if language == "python" %}
    <p class="--section-description">Take your interactive plots in Python to the next level with advanced Python graphing techniques, including plotting CSV data, generating random walks, peak finding, data smoothing, and rendering LaTeX.</p>
    {% endif %}
    <section class="--grid">
        <ul class="--grid-list">

            {% assign forloop_idx = 0 %}

            {%- for page in languagelist -%}
                {% if page.display_as == "advanced_opt" and page.layout != "langindex" and forloop_idx < num_examples  %}
                    {% assign forloop_idx = forloop_idx | plus:1 %}
                    <li class="--grid-item">
                        <a href="{% if page.permalink contains 'http' %}{{page.permalink}}{% else %}/{{page.permalink}}{% endif %}">
                            <div class="--item-meta"><span>{{page.name}}</span></div>
                        </a>
                    </li>
                {% endif %}
            {%- endfor -%}

        </ul>
    </section>
</section>
{% endif %}

{% if style_options %}
<section class="--tutorial-section no-image" id="style-options">
    <header class="--section-header">
        <span>Style Options</span>
    </header>
    <section class="--grid">
        <ul class="--grid-list">

            {% assign forloop_idx = 0 %}

            {%- for page in languagelist -%}
                {% if page.display_as == "style_opt" and page.layout != "langindex" and forloop_idx < num_examples  %}
                    {% assign forloop_idx = forloop_idx | plus:1 %}
                    <li class="--grid-item">
                        <a href="{% if page.permalink contains 'http' %}{{page.permalink}}{% else %}/{{page.permalink}}{% endif %}">
                            <div class="--item-meta"><span>{{page.name}}</span></div>
                        </a>
                    </li>
                {% endif %}
            {%- endfor -%}

        </ul>
    </section>
</section>
{% endif %}

{% if layout_options %}
<section class="--tutorial-section no-image" id="layout-options">
    <header class="--section-header">
        <span>Layout Options</span>
    </header>
    <section class="--grid">
        <ul class="--grid-list">

            {% assign forloop_idx = 0 %}

            {%- for page in languagelist -%}
                {% if page.display_as == "layout_opt" and page.layout != "langindex" and forloop_idx < num_examples  %}
                    {% assign forloop_idx = forloop_idx | plus:1 %}
                    <li class="--grid-item">
                        <a href="{% if page.permalink contains 'http' %}{{page.permalink}}{% else %}/{{page.permalink}}{% endif %}">
                            <div class="--item-meta"><span>{{page.name}}</span></div>
                        </a>
                    </li>
                {% endif %}
            {%- endfor -%}

        </ul>
    </section>
</section>
{% endif %}
