

{%- for trace in site.data.plotschema.traces -%}
{% assign trace_name = trace[0] %}
{% assign trace_data = trace[1] %}
{% include posts/reference-trace.html trace_name=trace_name trace_data=trace_data %}
{%- endfor -%}


<div class="row">
  <div class="eight columns">

          <a id="layout" href="#layout"><h4>layout</h4></a>

          {% assign attribute=site.data.plotschema.layout.layoutAttributes %}
          {% include posts/reference-block.html parentlink="layout" block="layout" parentpath="layout" %}

          {% assign attribute=site.data.plotschema.traces.box.layoutAttributes %}
          {% include posts/reference-block.html parentlink="layout" block="layout" parentpath="layout" %}

          {% assign attribute=site.data.plotschema.traces.bar.layoutAttributes %}
          {% include posts/reference-block.html parentlink="layout" block="layout" parentpath="layout" %}

          {% assign attribute=site.data.plotschema.traces.violin.layoutAttributes %}
          {% include posts/reference-block.html parentlink="layout" block="layout" parentpath="layout" %}

          {% assign attribute=site.data.plotschema.traces.waterfall.layoutAttributes %}
          {% include posts/reference-block.html parentlink="layout" block="layout" parentpath="layout" %}

          {% assign attribute=site.data.plotschema.traces.pie.layoutAttributes %}
          {% include posts/reference-block.html parentlink="layout" block="layout" parentpath="layout" %}

          {% assign attribute=site.data.plotschema.traces.sunburst.layoutAttributes %}
          {% include posts/reference-block.html parentlink="layout" block="layout" parentpath="layout" %}
  </div>
</div>


