{% if page.language == "ggplot2" %}

<span style="margin-right:50px;">
  <a href="{{ include.page_path }}">    
    <img style="max-height:160px" src="/all_static/images/gg_thumbs/{{ include.img_path }}.png"><br>
    <h3 style="text-align:center; max-width:160px; margin:0;"><code>{{ include.page_title }}</code></h3>
  </a>
</span>

{% else %}

<span style="margin-right:50px;">
  <a href="{{ include.type }}/{{ include.function }}">    
    <img style="max-height:160px" src="/all_static/images/m_thumbs/{{ include.function }}.png"><br>
    <h3 style="text-align:center;"><code>{{ include.function }}</code></h3>
  </a>
</span>

{% endif %}
