---
permalink: csharp/ai-ml/
description: Plotly's C# graphing library makes interactive, publication-quality graphs online. Examples of how to make charts related to artificial intelligence and machine learning.
name: AI and ML Charts
layout: langindex
language: csharp
display_as: ai_ml
thumbnail: thumbnail/mixed.jpg
page_type: example_index
---

<header class="--welcome">
  <div class="--welcome-body">
    <!--div.--wrap-inner-->
    <div class="--title">
      <div class="--body">
        <h1>Plotly C# Open Source Graphing Library Artificial Intelligence and Machine Learning Charts</h1>
        <p>{{page.description}}</p><br>
        {% include layouts/page-another-language.html %}
        {% include layouts/dashplug.html %}
      </div>
    </div>
  </div>
</header>

{% assign languagelist = site.posts | where: "language","csharp" | where: "display_as","ai_ml" | where: "layout","base" | sort: "order" %}
{% include posts/documentation_eg.html %}
