---
permalink: fsharp/basic-charts/
description: Plotly's F# graphing library makes interactive, publication-quality graphs online. Examples of how to make basic charts.
name: Basic Charts
layout: langindex
language: fsharp
display_as: basic
thumbnail: thumbnail/mixed.jpg
page_type: example_index
---

<header class="--welcome">
	<div class="--welcome-body">
		<!--div.--wrap-inner-->
		<div class="--title">

			<div class="--body">
				<h1>Plotly F# Open Source Graphing Library Basic Charts</h1>
				<p>{{page.description}}</p><br>
				{% include layouts/dashplug.html %}
			</div>
		</div>
	</div>
</header>

{% assign languagelist = site.posts | where: "language","fsharp" | where: "display_as","basic" | where: "layout","base" | sort: "order" %}
{% include posts/documentation_eg.html %}