---
description: Plotly's F# graphing library makes interactive, publication-quality graphs online. Tutorials and tips about fundamental features of Plotly's python API.
name: Fundamentals
display_as: file_settings
layout: langindex
language: fsharp
permalink: fsharp/plotly-fundamentals/
thumbnail: thumbnail/mixed.jpg
page_type: example_index
---

<header class="--welcome">
	<div class="--welcome-body">
		<!--div.--wrap-inner-->
		<div class="--title">

			<div class="--body">
				<h1>Plotly F# Open Source Graphing Library Fundamentals</h1>
				<p>{{page.description}}</p><br>
				{% include layouts/dashplug.html %}
			</div>
		</div>
	</div>
</header>

{% assign languagelist = site.posts | where:"language","fsharp" |where:"display_as","file_settings" | where: "layout","base" | sort: "order" %}
{% include posts/documentation_eg.html %}
