---
name: comet
plot_url: https://chart-studio.plotly.com/~danton267/24.embed
arrangement: horizontal
language: matlab
suite: animations
order: 1
sitemap: false
---

t = 0:pi/100:2*pi;
y = sin(t);
x = cos(t);
comet(x,y)
fig2plotly()


{% include posts/ssim_frame.html 
  src="https://chart-studio.plotly.com/~danton267/24.embed" 
  ssim="https://raw.githubusercontent.com/plotly/ssim_baselines/main/out_matlab/matlab/animation/comet/plot_0_0_create_comet_plot_montage.png" 
  compare="https://raw.githubusercontent.com/plotly/ssim_baselines/main/out_matlab/matlab/animation/comet/plot_0_0_create_comet_plot_ssim_map.png" 
  index=8
%}




  t = 0:pi/50:4*pi;
x = -sin(t) - sin(t/2);
y = -cos(t) + cos(t/2);
p = 0.5;
comet(x,y,p)
fig2plotly()


{% include posts/ssim_frame.html 
  src="https://chart-studio.plotly.com/~danton267/26.embed" 
  ssim="https://raw.githubusercontent.com/plotly/ssim_baselines/main/out_matlab/matlab/animation/comet/plot_1_0_control_comet_body_length_montage.png" 
  compare="https://raw.githubusercontent.com/plotly/ssim_baselines/main/out_matlab/matlab/animation/comet/plot_1_0_control_comet_body_length_ssim_map.png" 
  index=9
%}



t = 0:pi/20:4*pi;
x1 = -cos(t) + cos(t/2);
y1 = -sin(t) - sin(t/2);
x2 =  cos(t) - cos(t/2);
y2 = -sin(t) - sin(t/2);
p = 0.25;

tiledlayout(1,2);
ax1 = nexttile;
ax2 = nexttile;

comet(ax1,x1,y1,p)
comet(ax2,x2,y2,p)
fig2plotly()
</pre>

{% include posts/ssim_frame.html 
  src="https://chart-studio.plotly.com/~danton267/977.embed" 
  ssim="https://raw.githubusercontent.com/plotly/ssim_baselines/main/out_matlab/matlab/animation/comet/plot_2_0_create_plots_in_specified_axes_montage.png" 
  compare="https://raw.githubusercontent.com/plotly/ssim_baselines/main/out_matlab/matlab/animation/comet/plot_2_0_create_plots_in_specified_axes_ssim_map.png" 
  index=10
%}



<!--------------------- EXAMPLE BREAK ------------------------->

