<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name=”description” content=”{{ page.description }}">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" 
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
          crossorigin="anonymous">
    <style>
      .mcode { border: 1px solid #cfcfcf; border-radius: 2px; background: #f7f7f7; padding: 10px; }
    </style>
  </head>
  <body>
    <a href="https://github.com/plotly/graphing-library-docs/edit/master/_posts/matlab/1A-plot-types/{{page.github}}">                              
      <button type="button" class="btn btn-outline-dark btn-sm">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Improve this page
      </button>
    </a>
                                                           
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/matlab">All MATLAB® Plot Types</a></li>
        <li class="breadcrumb-item active"><a href="{{ page.permalink }}"><code>{{ page.function }}</code></a></li>
      </ol>
      <h1>MATLAB - <code>{{ page.function }}</code></h1>
      <section>
        {{ content }}
      </section>
      <footer>
        MATLAB® is a registered trademark of The MathWorks, Inc. Source material for this webpage is periodically updated from {{ page.reference }}.
      </footer>
    </div>  
  </body>
</html>
