<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name=”description” content=”{{ page.description }}">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" 
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
          crossorigin="anonymous">
    <style>
      .mcode { border: 1px solid #cfcfcf; border-radius: 2px; background: #f7f7f7; padding: 10px; }
    </style>
  </head>
  <body>
    <div class="container">
      <nav>
        <a href="/matlab">All MATLAB® Plot Types</a>
        ...
        <a href="{{ page.permalink }}"><code>{{ page.function }}</code></a>
      </nav>
      <h1>MATLAB - {{ page.function }}</h1>
      <section>
        {{ content }}
      </section>
      <footer>
        MATLAB® is a registered trademark of The MathWorks, Inc. Source material for this webpage is periodically updated from {{ page.reference }}.
      </footer>
    </div>  
  </body>
</html>
