<header data-spy="affix" data-offset-top="80" class="header-main --default">
    <div class="--wrap">
        <div class="--wrap-left">
            <div class="-identity">
                <a href="https://plot.ly/"><img src="https://images.prismic.io/plotly-marketing-website/bd1f702a-b623-48ab-a459-3ee92a7499b4_logo-plotly.svg?auto=compress,format" style="height: 66px;"/></a>
                <a href="/graphing-libraries/"><img src="/all_static/images/new-logo.png" style="height: 66px;"/></a>
            </div>
        </div>
        <div class="--wrap-right">
            <nav class="--nav-meta" role="navigation">
                <ul>
                    <li><a href="https://plot.ly/get-demo/" data-mode="1" target="_blank" class="typeform-share button --enterprise-quaternary">DEMO DASH</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
