<header class="header-main --default">
    <div class="--wrap">
        <div class="--wrap-left">
            <div class="-identity">
                <a href="https://plot.ly/"><img src="/all_static/images/plotly-logo.png" style="height: 46px;"/></a>
                <a href="/graphing-libraries/"><img src="/all_static/images/plotly-logo-part-2.png" style="margin-left: -5px; height: 46px;"/></a>
            </div>
        </div>
        <div class="--wrap-right">
            <nav class="--nav-meta" role="navigation">
                <ul>
                    <li><a href="https://plot.ly/get-demo/" data-mode="1" target="_blank" class="typeform-share button --enterprise-quaternary">DEMO DASH</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
