<div class="header-container">
    <header class="header-main --default">
        <div class="--wrap">
            <div class="--wrap-left">
                <div class="-identity">
                    <a href="https://plotly.com/"><img src="/all_static/images/plotly_graphing_libraries_1.png"
                            style="height: 45px;"></a>
                    <a href="/graphing-libraries/"><img src="/all_static/images/plotly_graphing_libraries_2.png"
                            style="height: 45px;"></a>

                </div>

            </div>
            <div class="--wrap-right">
                <nav class="--nav-meta" role="navigation">
                    <ul>
                        <li><a style="font-weight: bold;"
                                href="https://community.plotly.com/c/graphing-libraries/{% if page.permalink contains 'javascript' %}javascript{% elsif page.permalink contains 'fsharp' %}net{% else %}{{page.language}}{% endif %}">FORUM</a>
                        </li>
                        <li><a style="font-weight: bold;" href="https://plotly.com/get-pricing/">PRICING</a></li>
                        <li><a style="font-weight: bold;" href="https://dash.plotly.com">DASH</a></li>
                        <li><a style="font-weight: bold;" href="http://plotly.cloud">DASH CLOUD</a></li>

                        {% if page.permalink contains "python/" %}
                        <iframe style="padding-top: 5px;"
                            src="https://ghbtns.com/github-btn.html?user=plotly&repo=plotly.py&type=star&count=true&size=large"
                            frameborder="0" scrolling="0" width="160px" height="40px"></iframe>
                        {% elsif page.permalink contains "javascript/" %}
                        <iframe
                            src="https://ghbtns.com/github-btn.html?user=plotly&repo=plotly.js&type=star&count=true&size=large"
                            style="padding-top: 5px;" frameborder="0" scrolling="0" width="160px"
                            height="40px"></iframe>
                        {% elsif page.permalink contains "r/" or page.permalink contains "ggplot2/" %}
                        <iframe
                            src="https://ghbtns.com/github-btn.html?user=ropensci&repo=plotly&type=star&count=true&size=large"
                            style="padding-top: 5px;" frameborder="0" scrolling="0" width="160px"
                            height="40px"></iframe>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </header>
</div>