{% if page.language != "javascript" or page.language != "plotly_js" %}
<div class="dash-plug">
  <p>Deploy {{ page.language | capitalize }} AI Dash apps on private Kubernetes clusters: 
    <a href="/get-pricing/" style="color: #606060;font-weight:bold;">Pricing</a>
    &nbsp;|&nbsp;
    <a href="/get-demo/" style="color: #606060;font-weight:bold;">Demo</a>
    &nbsp;|&nbsp;
    <a href="/dash/" style="color: #606060;font-weight:bold;">Overview</a>
    &nbsp;|&nbsp;
    <a href="/consulting-and-oem/" style="color: #606060;font-weight:bold;">AI App Services</a>
  </p>
</div>
{% endif %}

