{% if page.language == "python" and page.path contains "/python/html/" %}
{% assign ipynbname = page.path | replace: "_posts/python/html/2019-07-03-", "" | replace: ".html", ".ipynb" %}
<div class="dash-plug">
  <p>Write, deploy, & scale Dash apps and {{ page.language | capitalize }} data visualizations on a Kubernetes Dash Enterprise cluster.
    <br>
    <a href="https://plotly.com/get-pricing/" class="plotly-red">Get Pricing</a>
    &nbsp;|&nbsp;
    <a href="https://plotly.com/get-demo/" class="plotly-red">Demo Dash Enterprise</a>
    &nbsp;|&nbsp;
    <a href="https://plotly.com/dash/" class="plotly-red">Dash Enterprise Overview</a>
  </p>
</div>
<br>
{% endif %}

{% if page.language == "r" or page.language == "ggplot2  %}
<div class="dash-plug">
  <p>Write, deploy, & scale Dash apps and {{ page.language | capitalize }} data visualizations on a Kubernetes Dash Enterprise cluster.
    <br>
    <a href="https://plotly.com/get-pricing/" class="plotly-red">Get Pricing</a>
    &nbsp;|&nbsp;
    <a href="https://plotly.com/get-demo/" class="plotly-red">Demo Dash Enterprise</a>
    &nbsp;|&nbsp;
    <a href="https://plotly.com/dash/" class="plotly-red">Dash Enterprise Overview</a>
  </p>
</div>
<br>
{% endif %}

{% if page.language == "javascript"  or page.language == "plotly_js" %}
<br>
<div class="dash-plug">
    <p>Building full-stack apps and dashboards with Plotly.js? 
      <br>
      Increase development speed by 2x-10x with <a href="https://plotly.com/dash">Dash</a>. 🏃
  </p>
</div>
<br>
{% endif %}

{% if page.language == "python" or page.language == "plotly_js" or page.language == "r" or page.language == "ggplot2" %}
<details>
    <summary><span style="cursor: pointer; color: #506784 !important">New to Plotly?</span></summary>
    {% if page.language == "python" %}
        <p>Plotly is a <a href="/python/is-plotly-free/">free and open-source</a> graphing library for Python. We recommend you read our <a href="/python/getting-started/">Getting Started guide</a> for the latest installation or upgrade instructions, then move on to our <a href="/python/plotly-fundamentals/">Plotly Fundamentals tutorials</a> or dive straight in to some <a href="/python/basic-charts/">Basic Charts tutorials</a>.</p>
    {% elsif page.language == "plotly_js" %}
        <p>Plotly is a <a href="/javascript/is-plotly-free/">free and open-source</a> graphing library for JavaScript. We recommend you read our <a href="/javascript/getting-started/">Getting Started guide</a> for the latest installation or upgrade instructions, then move on to our <a href="/javascript/plotly-fundamentals/">Plotly Fundamentals tutorials</a> or dive straight in to some <a href="/javascript/basic-charts/">Basic Charts tutorials</a>.</p>
    {% elsif page.language == "r" or page.language == "ggplot2" %}
        <p>Plotly is a <a href="/r/is-plotly-free/">free and open-source</a> graphing library for R. We recommend you read our <a href="/r/getting-started/">Getting Started guide</a> for the latest installation or upgrade instructions, then move on to our <a href="/r/plotly-fundamentals/">Plotly Fundamentals tutorials</a> or dive straight in to some <a href="/r/basic-charts/">Basic Charts tutorials</a>.</p>
    {% endif %}
</details>
{% endif %}
