{% assign post_array = "" | split: ',' %}
{% assign split_page = page.language | append: "/" %}
{% assign link = page.permalink | split: split_page | last %}
{% for post in site.posts %}
{% assign split_post = post.language | append: "/" %}
{% assign link_post = post.permalink | split: split_post | last %}
{% if post.permalink contains '/reference' or post.permalink contains '/next' or post.permalink contains '/v3' or
post.permalink contains 'nodejs/' or post.permalink contains 'javascript/' or post.permalink contains 'scala/' %}
{% else %}
{% if link == link_post or page.name == post.name %}
{% assign post_array = post_array | push: post %}
{% endif %}
{% endif %}
{% endfor %}
{% if post_array.size > 1 %}
<div class="db-client-lib">
  <label>
    This page in another language
  </label>
  <div class="list-lib-wrap">
    <div class="list-lib">
      {% for item in post_array%}
      {% if item.permalink == page.permalink %}
      <a href=" {{ site.url }}/{{item.permalink }}" class="current list-lib-item {{item.language }}">
        {% else %}
        <a href=" {{ site.url }}/{{item.permalink }}" class="list-lib-item {{item.language }}">
          {% endif %}
          <div class="item-icon">
          </div>
          <p class="item-language">
            {% if item.language == "julia" %}
            Julia
            {% elsif item.language == "python" %}
            Python
            {% elsif item.language == "r" %}
            R
            {% elsif item.language == "python" %}
            Python
            {% elsif item.language == "matlab" %}
            MATLAB®
            {% elsif item.language == "ggplot2" %}
            ggplot2
            {% elsif item.language == "fsharp" %}
            Fsharp
            {% else %}
            {{item.language}}
            {% endif %}
          </p>
        </a>
        {% endfor %}
        {% if page.name == "Scatter Plots in Python" %}
         <a href="https://plotly.com/chart-studio-help/make-a-line-and-scatter-plot/" class="list-lib-item studio">
          <div class="item-icon">
          </div>
            <p class="item-language">
            Studio
            </p>
         </a>
        {% endif %}
    </div>
  </div>
</div>
{% endif %}