<!-- SEO Tags - title, meta_description -->

<!-- Create a title -->
{% capture title %}{% if page.name %} {{page.name}} with {% if page.language == 'plotly_js' %} JavaScript{% elsif page.language == 'ggplot2'%} ggplot2{% elsif page.language == 'f_sharp' %} F#{% elsif page.language == 'matlab' %} MATLAB{% else %} {{page.language | capitalize }}{% endif %} {% elsif page.name == '404' %} 404 Page Not Found{% else %} Plotly Open Source Graphing Libraries{% endif %}{% endcapture %}

<!-- Count headers of the examples -->
{% assign counter = 0 %}
{% assign headers = page.content | split: '<h' %}
{% for header in headers %}
    {% assign counter = counter | plus: 1 %}
{% endfor %}

{% capture description %}"Over {{counter}} examples of {{page.name}} including changing color, size, log axes, and more."{% endcapture %}

<title>{{title}}</title>




<meta name="description" content={{description}}>


<!-- Bing tags -->
    <meta name="msvalidate.01" content="D319859A832F9F1D15A7646E2A42150A" />
<!-- Facebook tags -->
    <meta property="og:title" content={{title}}/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="{% if page.imageurl %}{{page.imageurl}}{% else %}{% if page.thumbnail%}{{site.imgurl}}{{page.thumbnail}}{%else%}https://help.plot.ly/images/twitter-default.png{% endif %}{% endif %}">
    <meta property="og:description" content={{description}}/>
    <meta property="og:url" />
    <meta property="fb:admins" content="1123751525"/>
    <meta property="fb:admins" content="22418"/>

<!-- twitter tags -->
    <meta name="twitter:card" content="photo" />
    <meta name="twitter:title" content={{title}}/>
    <meta name="twitter:url" content="{% if page.permalink %}https://plotly.com/{{page.permalink}}{% endif %}"/>
    <meta name="twitter:description" content={{description}}/>
    <meta name="twitter:image" content="{% if page.imageurl %}{{page.imageurl}}{% else %}{% if page.thumbnail%}{{site.imgurl}}{{page.thumbnail}}{%else%}https://help.plot.ly/images/twitter-default.png{% endif %}{% endif %}">
    <meta name="twitter:site" content="@plotlygraphs"/>

