
    <a href="https://go.plotly.com/dash-ag-grid?utm_source=Webinar%3A+AG+Grid+1%2F26%2F23&utm_medium=graphing_libraries&utm_content=sidebar" target="_blank">
      <img src="https://images.prismic.io/plotly-marketing-website-2/6a4e3931-ac22-4d38-ba51-34eef3835b5c_webinar_graphic_AG+Grid_Dash_Docs-01.jpg?auto=compress,format"
      style="width: 200px; height: 200px; position: fixed; bottom: 10px; left: 50px" alt="Register for the upcoming webinar: High-Performance Data Tables with Dash and AG Grid.">
    </a>