
   <a href="https://plotly.com/getting-started-with-studio/?utm_source=graphing_libraries&utm_medium=documentation&utm_campaign=getting-started-with-plotly-studio-23apr2026&utm_content=sidebar" target="_blank">
     <img src="https://images.prismic.io/plotly-marketing-website-2/ac1DPpGXnQHGZLKZ_getting-started-with-plotly-studio-april-23.jpg?auto=format,compress"
     style="width: 200px; height: 200px; position: fixed; bottom: 10px; left: 50px" alt="Sign up for the upcoming webinar: Getting Started with Plotly Studio">
   </a>
